# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
.ruff_cache/
.mypy_cache/
.pytest_cache/
*.egg-info/
dist/
build/

# Node / Next
node_modules/
.next/
out/
.vercel/

# AWS CDK
cdk.out/
*.log

# Env / secrets
.env
.env.*
!.env.example
